<section id="headline">
  <h1>Codejamm.in</h1>
  <h2>Come join us in Lafayette, Feb 2nd</h2>
</section>

<div class="span4 offset4">
  <h3>Thanks for signing up</h3>
  <p>
    We will keep you posted for further updates.
  </p>
</div>
